#toilet-info-panel {
    min-width: 31rem;
}
#toilet-info-panel > .toilet-info {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    margin: 1rem;
    gap: 5rem;
}
#toilet-info-panel > .toilet-info > .toilet-info-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
#toilet-info-panel > .toilet-info > .toilet-info-header > .review {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
}
#toilet-info-panel > .toilet-info > .toilet-info-header > .review > .review-star {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
    font-size: 1rem;
    cursor: pointer;
    line-height: 1rem;

}
#toilet-info-panel > .toilet-info > .toilet-info-header > .review >  .review-count {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 1rem;
    cursor: pointer;
    line-height: 1rem;
    gap: 1rem;

}
#toilet-info-panel > .toilet-info > .toilet-info-header > .review >  .review-star > .caption {
    left: 50%;
    font-size: 1.45rem;
    font-weight: 700;
}
#toilet-info-panel > .toilet-info > .toilet-info-header > .review >  .review-star > .day {
    font-size: 0.875rem;
    font-weight: 500;
    color: #2a2927;

}
#toilet-info-panel > .toilet-info > .toilet-info-header > .review >  .review-star > .day:after {
    content: "";
    border: 0.0625rem solid #e0e0e0;
    margin-left: 1rem;
}
#toilet-info-panel > .toilet-info > .toilet-info-header > .review >  .review-count > .count {
    left: 50%;
    font-size: 1.45rem;
    font-weight: 700;
    margin-left: 1rem;
}
#toilet-info-panel > .toilet-info > .toilet-info-header > .review >  .review-count > .day {
    font-size: 0.875rem;
    font-weight: 500;
    color: #2a2927;

}

#toilet-info-panel > .toilet-info > .toilet-info-header > .title {
    font-size: 2rem;
    color: #151515;
}
#toilet-info-panel > .toilet-info > .toilet-info-image {
    display: flex;
    flex-direction: row;
    box-shadow: 0 0.125rem 0.3rem #0000001A;
    border: 0.0625rem solid #e0e0e0;
    padding: 0.3rem;
}
#toilet-info-panel > .toilet-info > .toilet-info-image > .toilet-image {
    padding: 0.5rem;
}
#toilet-info-panel > .toilet-info > .toilet-info-image:has(:not(:last-child).toilet-image):after {
    content: "";
    border: 0.5rem solid #e0e0e0;
}